:root {
  --primary: #6366F1;
  --secondary: #22C55E;
  --accent: #F59E0B;
  --pink: #EC4899;

  --bg: #F8FAFC;
  --card: #FFFFFF;
  --text: #0F172A;
}



@font-face {
  font-family: 'Vazirmatn';
  src: url('../fonts/vazirmatn/Vazirmatn-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('../fonts/vazirmatn/Vazirmatn-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('../fonts/vazirmatn/Vazirmatn-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

html {
  font-family: 'Vazirmatn', -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Vazirmatn", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.9;

  direction: rtl;
  text-align: right;

  background-color: var(--bg);
  color: var(--text);

  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-weight: 700;
  letter-spacing: -0.3px;
}

.sidebar,
.dashboard-header {
  font-weight: 500;
}

.table th {
  font-weight: 600;
}



*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  direction: rtl;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.btn-primary {
  background: linear-gradient(135deg, var(--primary), var(--pink));
  color: #fff;
  padding: 0.8rem 1.6rem;
  border-radius: 999px;
  font-weight: 600;
}

.btn-outline {
  border: 2px solid var(--primary);
  color: var(--primary);
  border-radius: 999px;
  padding: 0.7rem 1.4rem;
}

.card {
  background: var(--card);
  border-radius: 20px;
  padding: 1.8rem;
  box-shadow: 0 10px 25px rgba(99,102,241,0.08);
  transition: transform .25s ease;
}

.card:hover {
  transform: translateY(-6px);
}

.badge {
  display: inline-block;
  padding: 0.35rem 0.8rem;
  border-radius: 999px;
  font-size: 0.75rem;
  font-weight: 600;
}

.badge.success {
  background: #DCFCE7;
  color: #166534;
}

.badge.discount {
  background: #FEF3C7;
  color: #92400E;
}

.hero {
  background: linear-gradient(
    135deg,
    #EEF2FF,
    #FCE7F3
  );
}

.sidebar {
  background: linear-gradient(180deg, var(--primary), #4F46E5);
}

.stat-card {
  border-right: 6px solid var(--accent);
}
